<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>캠핑 예약</title>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/intro.css">
</head>
<body>
<div class="intro-container">
  <!-- YouTube 동영상 배경 -->
  <div id="player" class="background-video"></div>

  <!-- 인트로 화면 콘텐츠 -->
  <div class="intro-content">
    <div class="logo">
      <!-- 캠핑 텐트 아이콘 -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="48" height="48" fill="white">
        <path d="M32 2L4 58h56L32 2zm0 8.38L50.24 54H13.76L32 10.38zM20 54h24v6H20v-6z"></path>
      </svg>
    </div>
    <h1>캠핑, 새로운 시작</h1>
    <h2>자연 속의 안식처, 당신의 캠핑 스팟</h2>
    <a href="/main" class="btn">입장하기</a>
  </div>
</div>

<!-- YouTube IFrame Player API -->
<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '3mJ2mgRwm1s',
      playerVars: {
        autoplay: 1,
        mute: 1,
        controls: 0,
        modestbranding: 1,
        loop: 1,
        rel: 0,
        playlist: '3mJ2mgRwm1s',
        start: 10
      },
      events: {
        onReady: function (event) {
          event.target.playVideo();
        }
      }
    });
  }
</script>
</body>
</html>
