<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/login/register.css">
</head>
<body>
<div class="modal-overlay">
    <div class="register-box">
        <!-- 닫기 버튼 -->
        <a class="close-btn" href="/main">×</a>
        <h2>회원가입</h2>
        <div class="subtitle">아래 항목을 빠짐없이 기입해주세요.</div>

        <!-- 회원가입 폼 -->
        <form th:action="@{/register}" method="post" onsubmit="validateForm(event)">
            <div class="input-group">
                <label for="id">아이디</label>
                <div class="input-row">
                    <input type="text" name="id" id="id" placeholder="아이디" required>
                    <button type="button" class="check-btn" onclick="checkIdDuplicate()">중복확인</button>
                </div>
            </div>

            <div class="input-group">
                <label for="email">이메일</label>
                <input type="email" name="email" id="email" placeholder="이메일" required>
            </div>

            <div class="input-group">
                <label for="password">비밀번호 (8자리 이상)</label>
                <small id="password-error" class="error-message">비밀번호를 8자리 이상이여야 합니다</small> <br>
                <input type="password" name="password" id="password" placeholder="비밀번호" required onblur="validatePassword()">
            </div>

            <div class="input-group">
                <label for="confirm-password">비밀번호 확인</label>
                <small id="password-match-message"></small><br>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="비밀번호 확인" required oninput="validatePasswordMatch()">
            </div>

            <div class="input-group">
                <label for="name">이름</label>
                <input type="text" name="name" id="name" placeholder="이름" required>
            </div>

            <div class="input-group">
                <label for="phone">전화번호</label>
                <input type="tel" name="phone" id="phone" placeholder="전화번호" required>
            </div>

            <button type="submit" class="register-submit">가입하기</button>
        </form>
    </div>
</div>

<script src="/js/register.js"></script>
</body>
</html>
